# Configuración del Bot
BOT_URL=https://test.rentascordoba.gob.ar/bot-web

# Configuración de la API
API_URL=http://localhost:8000

# Google Sheets (opcional)
# SPREADSHEET_ID=tu_spreadsheet_id
# CREDENTIALS_PATH=./tests/credentials/google-credentials.json

